@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Hide Clerk "Secured by" footer */
.cl-internal-l2l775 {
  display: none !important;
}
